<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>corehook_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>corehook_release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hijackapp_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hijackapp_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>keybag_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>keybag_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>optimization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B07424A1E6F938A009BA139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3452031E8CB9D800BC10CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34521B1E8CB9D800BC10CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B34522D1E8CBBF800BC10CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BA87AE81E9623AD00A57F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC2D4301E7916CD006D5677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD6CF631E792CF90053C7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD6CF7D1E792DE80053C7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD6CF971E792E640053C7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD6CFB91E7A245B0053C7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
